argcomplete==1.12.3
asyncio==3.4.3
base58==2.1.1
bech32==1.2.0
certifi==2019.6.16
chardet==3.0.4
charset-normalizer==2.0.10
colorlog==6.6.0
cosmospy==6.0.0
cytoolz==0.11.2
ecdsa==0.17.0
eth-hash==0.3.2
eth-keys==0.4.0
eth-typing==3.0.0
eth-utils==2.0.0
hdwallets==0.1.2
idna==2.10
mnemonic==0.20
more-itertools==8.12.0
py-bip39-bindings==0.1.8
py-ed25519-bindings==1.0.1
py-sr25519-bindings==0.1.4
pycryptodome==3.12.0
requests==2.26.0
scalecodec==1.0.28
six==1.16.0
substrate-interface==1.1.7
toolz==0.11.2
urllib3==1.25.11
websocket-client==0.59.0
xxhash==1.3.0
